acme==5.1.0
certbot==5.1.0
certbot-dns-domeneshop==0.2.9
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
configargparse==1.7.1
configobj==5.0.9
cryptography==46.0.3
distro==1.9.0
domeneshop==0.4.4
idna==3.11
josepy==2.2.0
pan-python==0.25.0
parsedatetime==2.6
pycparser==2.23
pyopenssl==25.3.0
pyrfc3339==2.1.0
requests==2.32.5
setuptools==80.9.0
urllib3==2.5.0
zope-interface==8.0.1
