DOMENESHOP_TOKEN=1234567890abcdef
DOMENESHOP_SECRET=1234567890abcdefghijklmnopqrstuvxyz1234567890abcdefghijklmnopqrs
CERT_NAME=LetsEncryptWildcard
EMAIL=admin@example.com
DOMAIN_LIST=["*.example.com" "vpn.example.com"]
